// Загальний файл елементів форм
// Для підключення/відключення стилив конкретного елемента форми дивись base/forms/forms.scss
@import "base/forms/forms";

// стили попапов
// @import "base/popup";

// стили спойлеров
// @import "base/spollers";

// стили табов
// @import "base/tabs";

// стили мап
// @import "base/maps";

// стили блока "показать еще"
// @import "base/showmore";

// стили для липкого блока
// @import "base/sticky";

// стили для полноэкранного блока
// @import "base/fullscreen";

// стили для поэкранной прокрутки
// Styles for fullpage scroll
// @import "base/fullpage";

// стили для ripple ефекта
// Styles for ripple effect
// @import "base/ripple";

// стили для кастомного курсора
// Styles for custom cursor
// @import "base/cursor";

// стили для отзывчивых картин (IBG)
// Сниппет (HTML): ibg (div с картинкой и классами)
// Сниппет (HTML): ibga (a з картинкой с классами)
[class*="-ibg"] {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
[class*="-ibg--contain"] {
	img {
		object-fit: contain;
	}
}

// Шаблоны (заготовки)
// @extend %имя шаблона;
// Сниппет (SCSS): ex

// Счетчик для списка
%listCounter {
	list-style-type: none;
	counter-reset: item;
	li {
		position: relative;
		&:before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}
// Адаптивное видео
%responsiveVideo {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
// Видео как фон
%videoBackground {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}
// Серий фильтр
%grayfilter {
	transition: all 0.3s ease 0s;
	filter: grayscale(1);
	@media (any-hover: hover) {
		&:hover {
			filter: grayscale(0);
		}
	}
}
// Отменить выделение
%noselect {
	user-select: none;
}
// Зеркальное отражение
%mirror {
	transform: scale(-1, 1);
}
// Плавный скролл
%smoothscroll {
	-webkit-overflow-scrolling: touch;
}
// Скрыть скролл
%hidescroll {
	&::-webkit-scrollbar {
		display: none;
	}
}
