//===========================================================================================
.page {
	// .page__hero
	&__hero {
	}
	// .page__brands
	&__brands {
	}
	// .page__fashion
	&__fashion {
	}
	// .page__banner
	&__banner {
	}
	// .page__new-fashion
	&__new-fashion {
	}
	// .page__community
	&__community {
	}
}
//===========================================================================================
//================================================================================
.hero {
	@include adaptiveValue("padding-top", 164, 110);
	@include adaptiveValue("margin-bottom", 63, 15);
	&__column-info {
		flex: 0 1 32.5%;
		flex-grow: 1;
		gap: toRem(24);
		justify-content: space-between;
		@include adaptiveValue("padding-bottom", 90, 30);
		@media (max-width: $tablet) {
			flex: 0 1 100%;
			width: 100%;
		}
		@media (max-width: $mobileSmall) {
			padding: toRem(0) toRem(10);
			max-width: toRem(480);
		}
	}
	// .hero__container
	&__container {
		background: #f4f6f5;
		border-radius: toRem(59);
	}
	// .hero__inner
	&__inner {
		display: flex;
		align-items: center;
		column-gap: toRem(24);
		justify-content: space-between;
		// position: relative;
		@include adaptiveValue("padding-top", 77, 35);
		@include adaptiveValue("padding-bottom", 0, 35, 0, 1920, 992);
		@include adaptiveValue("padding-left", 82, 0);
		@include adaptiveValue("padding-right", 82, 0);
		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}
	// .hero__column-info
	&__column-info {
		flex: 0 1 32.5%;
		flex-grow: 1;
		gap: toRem(24);
		justify-content: space-between;
		@include adaptiveValue("padding-bottom", 90, 30);
		@media (max-width: $tablet) {
			flex: 0 1 100%;
			width: 100%;
		}
		@media (max-width: $mobileSmall) {
			padding: toRem(0) toRem(10);
			max-width: toRem(480);
		}
	}
	// .hero__column-image
	&__column-image {
		position: relative;
		flex: 0 1 46%;
		flex-grow: 1;
		@media (max-width: $tablet) {
			width: 100%;
			height: percent(784, 871);
		}
		@media (max-width: $mobileSmall) {
			padding: toRem(0) toRem(10);
		}
	}
	&__image-ibg {
		// position: relative;
		padding-bottom: 90%;
		img {
			object-fit: cover;
		}
	}
	// .hero__icons
	&__icons {
	}
}

.info-column {
	// .info-column__box
	&__box {
	}
	// .info-column__title
	&__title {
		@include adaptiveValue("font-size", 96, 50, 0, 1920, 992);
		font-weight: 900;
		line-height: 125%;
		text-transform: uppercase;
		// margin-bottom: toRem(40);
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 96, 50, 0, 991, 320);
			@include adaptiveValue("padding-left", 20, 0, 991, 340);
		}
		&--1 {
			@include adaptiveValue("padding-left", 38, 15);
			flex-shrink: 0;
			background-color: #fff;
			max-width: toRem(436);
			@include adaptiveValue("max-width", 436, 200);
			transform: rotate(-2deg);
		}
		// .hero__title--2
		&--2 {
			@include adaptiveValue("padding-left", 38, 15);
		}
		// .hero__title--3
		&--3 {
			@include adaptiveValue("max-width", 496, 270);
			@include adaptiveValue("padding-left", 38, 15);
			background-color: #ebd96b;
			transform: rotate(-2deg);
		}
		&--4 {
			@include adaptiveValue("padding-left", 38, 15);
		}
	}
	// .info-column__text
	&__text {
		width: 100%;
		@include adaptiveValue("font-size", 32, 24, 0, 1920, 992);
		@include adaptiveValue("line-height", 58, 30, 0, 1920, 992);
		@include adaptiveValue("letter-spacing", -1.6, 1, 0, 1920, 992);
		@include adaptiveValue("margin-bottom", 32, 20, 0, 1920, 992);
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 32, 24, 0, 991, 320);
			@include adaptiveValue("letter-spacing", -1.6, 1, 0, 991, 320);
			@include adaptiveValue("padding-left", 20, 10, 991, 340);
		}
	}
	// .info-column__buttons
	&__buttons {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 34, 5, 0, 1920, 992);
		@media (max-width: $tablet) {
			padding-left: toRem(30);
			@include adaptiveValue("column-gap", 34, 10, 0, 992, 480);
			@include adaptiveValue("padding-left", 20, 0, 991, 480);
		}
		@media (max-width: $mobileSmall) {
			margin-bottom: toRem(25);
			flex-direction: column;
			@include adaptiveValue("padding-left", -20, 0);
		}
	}
	// .info-column__icon
	&__icon {
		position: relative;
		display: flex;
		align-items: center;
		// margin: 0 auto;
		@media (max-width: $mobileSmall) {
			margin-bottom: toRem(5);
			display: flex;
		}
	}
	// .info-column__button
	&__button {
		display: inline-block;
		@include adaptiveValue("font-size", 30, 24, 0, 1920, 992);
		background-color: #000;
		text-align: center;
		align-items: center;
		color: #fff;
		font-weight: 500;
		letter-spacing: toRem(-1.5);
		border-radius: toRem(10);
		@include adaptiveValue("padding-top", 26, 20, 0, 1920, 992);
		@include adaptiveValue("padding-bottom", 26, 20, 0, 1920, 992);
		@include adaptiveValue("padding-left", 41, 30, 0, 1920, 992);
		@include adaptiveValue("padding-right", 41, 30, 0, 1920, 992);
		// height: toRem(82);
		flex: 0 0 auto; // чтобы текст в кнопке не складывался
		position: relative;
		z-index: 5;
		transition: color 0.3s ease;
		&:hover {
			color: #e5c643;
		}
		@media (max-width: $mobileSmall) {
			width: 100%;
			letter-spacing: toRem(1);
		}
	}
}
//=========================================================================================
// Здесь стили всех звездочек
.icons-hero-block {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	@media (max-width: $mobile) {
		opacity: 0.2;
	}
	// .icons-hero-block__item
	&__item {
		position: absolute;
		// .icons-hero-block__item_1
		&--1 {
			top: percent(15, 784); // ? левая верхняя
			left: percent(-15, 871);
		}
		// .icons-hero-block__item_2
		&--2 {
			top: percent(36, 784); // ? правая верхняя
			left: percent(670, 871);
		}
		// .icons-hero-block__item_3
		&--3 {
			top: percent(710, 784); // ? левая нижняя
			left: percent(20, 871);
		}
		// .icons-hero-block__item_4
		&--4 {
			top: percent(600, 784); // ? правая нижняя
			left: percent(800, 871);
		}
	}
}

//========================================================================================
//=========================================================================================
//=========================================================================================
// .page__brands
.brands {
	@include adaptiveValue("padding-top", 60, 25);
	@include adaptiveValue("padding-bottom", 55, 25);
	background-color: $pageColor;
	// .brands__container
	&__container {
	}
	// .brands__inner
	&__inner {
		max-width: toRem(1570);
		margin: 0 auto;
		@media (max-width: $tablet) {
			max-width: toRem(962);
		}
	}
	// .brands__items
	&__items {
		display: flex;
		justify-content: space-between;
		column-gap: toRem(10);
		row-gap: toRem(20);
		align-items: center;
		background: lightgray -54.959px -61.056px / 162.162% 296.296% no-repeat;
		mix-blend-mode: multiply;
		background: transparent;
		img {
			max-width: 100%;
		}
		@media (max-width: $tablet) {
			flex-wrap: wrap;
		}
	}
	// .brands__item
	&__item {
		flex: 0 1 15%;
		@media (max-width: $tablet) {
			flex: 0 1 31%;
			text-align: center;
		}
		@media (max-width: $mobileSmall) {
			flex: 0 1 47%;
		}
	}
}
//================================================================================
//================================================================================
// .page__fashion
.fashion {
	@include adaptiveValue("padding-top", 120, 50);
	@include adaptiveValue("padding-bottom", 120, 50);
	// .fashion__container
	&__container {
	}
	// .fashion__title
	&__title {
		display: inline-block;
		@include adaptiveValue("font-size", 48, 32);
		font-weight: 900;
		line-height: toRem(50);
		letter-spacing: toRem(2.88);
		text-transform: uppercase;
		@include adaptiveValue("margin-bottom", 114, 30);
		position: relative;
		z-index: 0;
		&::after {
			background: url("@img/vector.png") left bottom no-repeat;
			max-width: toRem(190);
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: 0;
			left: 100%;
			transform: translateX(-100%);
			z-index: -1;
		}
	}
	// .fashion__row
	&__row {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: toRem(131);
		@include adaptiveValue("column-gap", 131, 20, 0, 1920, 992);
		@media (max-width: $tablet) {
			grid-template-columns: repeat(2, 1fr);
			row-gap: toRem(30);
		}
		@media (max-width: $mobile) {
			grid-template-columns: auto;
		}
	}
	// .fashion__column
	&__column {
	}
	// .fashion__item
	&__item {
	}
	// .fashion__image-ibg
	&__image-ibg {
		border-radius: toRem(20);
		overflow: hidden;
		padding-bottom: 145.454545%; /* 704/484 */
		img {
		}
		transition: all 0.5s;
		&:hover {
			transform: scale(1.02);
		}
	}
	// .fashion__body
	&__body {
		@include adaptiveValue("margin-top", 28, 14);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .fashion__info
	&__info {
	}
	// .fashion__name
	&__name {
		@include adaptiveValue("font-size", 32, 24, 0, 1920, 992);
		font-weight: 500;
		line-height: toRem(50);
		letter-spacing: toRem(-1.28);
		@media (max-width: $tablet) {
			font-size: toRem(32);
			@include adaptiveValue("font-size", 32, 26);
		}
		@media (max-width: $mobile) {
			font-size: toRem(32);
		}
	}
	// .fashion__link
	&__link {
		color: #7f7f7f;
		@include adaptiveValue("font-size", 24, 18);
		letter-spacing: toRem(-0.96);
		display: inline-block;
		padding-top: toRem(8);
		padding-bottom: toRem(2);
		position: relative;
		&::after {
			position: absolute;
			content: "";
			height: toRem(1);
			background-color: #555555;
			bottom: 0;
			left: 50%;
			width: 0;
			transition: all 0.3s;
		}
		&:hover::after {
			left: 0;
			width: 100%;
		}
		@media (max-width: $tablet) {
			font-size: toRem(24);
			padding-top: toRem(15);
		}
	}
	// .fashion__arrow-1
	&__arrow-1 {
	}
}

//================================================================================
//================================================================================
// .page__banner
.banner {
	background: linear-gradient(1deg, #e0c340 0.13%, #dfc23e 3.97%, #e1c441 7.2%, #e3c743 10.13%, #e4c542 12.98%, #e6c744 15.99%, #e7c845 19.52%, #e5c643 23.96%, #e6c945 30.43%, #e3c743 36.49%, #e9ca48 42.49%, #edce49 49.35%, #f0d44c 55.42%, #f4d84f 61.43%, #f6da52 65.74%, #f7db53 72.23%, #f9dd55 77.43%, #f9df56 83.84%, #fae157 91.52%, #f9df56 97.87%);
	// .banner__container
	&__container {
	}
	// .banner__inner
	&__inner {
		display: flex;
		align-items: center;
		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}
	// .banner__box-image
	&__box-image {
		position: relative;
		flex: 0 1 51.68%;
		@media (max-width: $tablet) {
			flex: 0 1 68%;
			flex-grow: 1;
			width: 100%;
			height: percent(968, 992);
		}
	}
	// .banner__image
	&__image-ibg {
		padding-bottom: 97.6%; /* 968/992 */
	}
	// .banner__info-box
	&__info-box {
		flex: 0 1 48%;
		margin-left: toRem(63);
		@include adaptiveValue("margin-left", 63, 20, 0, 1920, 992);
		@include adaptiveValue("padding-top", 128, 30);
		@include adaptiveValue("padding-bottom", 155, 40);
		@media (max-width: $tablet) {
			flex: 0 1 35%;
		}
	}
	// .banner__box
	&__box {
		max-width: toRem(668);
		padding-left: toRem(27);
		padding-right: toRem(20);
		@media (max-width: $mobileSmall) {
			padding-left: toRem(10);
		}
	}
	// .banner__title
	&__title {
		color: #000;
		font-weight: 900;
		@include adaptiveValue("font-size", 111, 50, 0, 1920, 992);
		@include adaptiveValue("line-height", 137, 50);
		text-transform: uppercase;
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 90, 50, 0, 992, 320);
			@include adaptiveValue("line-height", 120, 60, 0, 992, 320);
		}
		// .banner__title--1
		&--1 {
			padding-left: toRem(15);
			flex-shrink: 0;
			background-color: #fff;
			max-width: toRem(525);
			@include adaptiveValue("max-width", 525, 200);
			transform: rotate(-2deg);
			position: relative;
			left: toRem(-15);
		}
		// .banner__title--2
		&--2 {
		}
		@include adaptiveValue("margin-bottom", 33, 20, 0, 1920, 992);
	}
	// .banner__text
	&__text {
		color: #231300;
		@include adaptiveValue("font-size", 36, 20, 0, 1920, 992);
		font-weight: 500;
		@include adaptiveValue("line-height", 52, 30, 0, 1920, 992);
		letter-spacing: toRem(-0.721);
		& p:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 20, 0, 1920, 992);
		}
		@media (max-width: $tablet) {
			@include adaptiveValue("font-size", 36, 20, 0, 992, 320);
			@include adaptiveValue("line-height", 52, 30, 0, 992, 320);
		}
	}
	// .banner__data
	&__data {
		color: #000;
		font-weight: 700;
	}
	// .banner__buttons
	&__buttons {
		@include adaptiveValue("margin-top", 51, 20);
	}
	// .banner__btn
	&__btn {
		font-size: toRem(28);
		font-weight: 700;
		letter-spacing: toRem(0.56);
		text-align: center;
		padding-left: toRem(51);
		padding-right: toRem(51);
		@include adaptiveValue("padding-top", 27, 27, 0, 1920, 992);
		@include adaptiveValue("padding-bottom", 38, 27, 0, 1920, 992);
		@media (max-width: $mobileSmall) {
			width: 100%;
			letter-spacing: toRem(1);
		}
	}
	// .banner__icons
	&__icons {
	}
}
//=========================================================================================
// Здесь стили всех звездочек
.icons-banner-block {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	@media (max-width: $mobile) {
		opacity: 0.2;
	}
	// .icons-banner-block__item
	&__item {
		position: absolute;
		// .icons-banner-block__item--1
		&--1 {
			top: percent(155, 968); // ? левая верхняя
			left: percent(170, 992);
		}
		// .icons-banner-block__item--2
		&--2 {
			top: percent(120, 968); // ? правая верхняя
			left: percent(780, 992);
		}
		// .icons-banner-block__item--3
		&--3 {
			top: percent(520, 968); // ? левая нижняя
			left: percent(220, 992);
		}
		// .icons-banner-block__item--4
		&--4 {
			top: percent(650, 968); // ? правая нижняя
			left: percent(800, 992);
		}
	}
}
//========================================================================================
//========================================================================================
//================================================================================
//================================================================================
// .page__favourite
.favourite {
	@include adaptiveValue("padding-top", 120, 50);
	@include adaptiveValue("padding-bottom", 120, 50);
	// .favourite__container
	&__container {
	}
	// .favourite__title
	&__title {
		display: inline-block;
		@include adaptiveValue("font-size", 48, 32);
		font-weight: 900;
		line-height: toRem(50);
		letter-spacing: toRem(2.88);
		@include adaptiveValue("margin-bottom", 114, 30);
		position: relative;
		z-index: 0;
		&::after {
			background: url("@img/vector.png") left bottom no-repeat;
			max-width: toRem(190);
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			bottom: 0;
			left: 100%;
			transform: translateX(-100%);
			z-index: -1;
		}
	}
	// .favourite__row
	&__row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: toRem(48);
		@include adaptiveValue("column-gap", 48, 20, 0, 1920, 992);
		@media (max-width: $tablet) {
			grid-template-columns: auto;
			row-gap: toRem(30);
		}
	}
	// .favourite__column
	&__column {
	}
	// .favourite__item
	&__item {
	}
	// .favourite__image-ibg
	&__image-ibg {
		border-radius: toRem(20);
		overflow: hidden;
		padding-bottom: 68.944844%;
		position: relative;
		img {
			transition: all 0.3s ease 0s; // увеличиваем картинку плавно
		}
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
			z-index: 2;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%);
		}
		transition: all 0.5s;
		&:hover {
			transform: scale(1.02);
		}
	}
	// .favourite__body
	&__body {
		@include adaptiveValue("margin-top", 28, 14);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .favourite__info
	&__info {
	}
	// .favourite__name
	&__name {
		@include adaptiveValue("font-size", 32, 24, 0, 1920, 992);
		font-weight: 500;
		line-height: toRem(50);
		letter-spacing: toRem(-1.28);
		@media (max-width: $tablet) {
			font-size: toRem(32);
			@include adaptiveValue("font-size", 32, 26);
			line-height: toRem(36);
		}
		@media (max-width: $mobile) {
			font-size: toRem(32);
		}
	}
	// .favourite__link
	&__link {
		color: #7f7f7f;
		@include adaptiveValue("font-size", 24, 18);
		letter-spacing: toRem(-0.96);
		display: inline-block;
		padding-top: toRem(8);
		padding-bottom: toRem(2);
		position: relative;
		&::after {
			position: absolute;
			content: "";
			height: toRem(1);
			background-color: #555555;
			bottom: 0;
			left: 50%;
			width: 0;
			transition: all 0.3s;
		}
		&:hover::after {
			left: 0;
			width: 100%;
		}
		@media (max-width: $tablet) {
			font-size: toRem(24);
			padding-top: toRem(15);
		}
	}
	// .favourite__arrow-1
	&__arrow-1 {
	}
}

//================================================================================
//================================================================================
.community {
	background-color: #e5c643;
	// .community__container
	&__container {
	}
	// .community__content
	&__content {
		@include adaptiveValue("padding-top", 141, 35);
		@include adaptiveValue("padding-bottom", 156, 35);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	// .community__title
	&__title {
		max-width: toRem(966);
		@include adaptiveValue("font-size", 55, 32);
		font-weight: 900;
		color: #fff;
		@include adaptiveValue("line-height", 70, 44);
		letter-spacing: toRem(1.65);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 37, 20);
		}
	}
	// .community__text
	&__text {
		color: #fffcf8;
		font-size: toRem(32);
		@include adaptiveValue("font-size", 32, 20);
		line-height: toRem(35);
		letter-spacing: toRem(0.96);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 49, 30);
		}
	}
	// .community__form
	&__form {
		display: flex;
		width: 100%;
		justify-content: center;
		@media (max-width: em(574)) {
			width: 100%;
		}
	}
}

.form {
	max-width: toRem(574);
	width: 100%;
	// flex-grow: 1;
	background-color: #fff;
	border-radius: toRem(10);
	display: flex;
	padding: toRem(10);
	gap: toRem(5);
	position: relative;
	@media (max-width: em(574)) {
		flex-direction: column;
	}
	// .form__input
	&__input {
		height: toRem(64);
		// flex-grow: 1;
		flex: 1 1 auto;
		padding: 0 toRem(20);
		color: #2c2f30;
		font-weight: 500;
		&::placeholder {
			color: #767676;
		}
		&._form-error {
			color: red;
			&::placeholder {
				color: red;
			}
		}
	}
	// .form__button
	&__button {
		padding: toRem(17) toRem(35) toRem(15) toRem(38);
	}
	&__error {
		position: absolute;
		top: 100%;
		left: 0;
		color: red;
		font-size: toRem(20);
		font-weight: 500;
		letter-spacing: toRem(1.2);
		margin-top: toRem(10);
		padding-left: toRem(26);
	}
}
